@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;700&family=Space+Grotesk:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  margin-top: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E8ECEF; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #343839; 
  border-radius: 80px;
}